/* google font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')


*{
    margin: 0px;
    padding: 0px;
    user-select: none;
}
#box{
    height: 300px;
    width: 300px;
    color: #333;
    align-items: center;
    text-align: center;
    font-size: 80px;
    background-color: lightgreen;

    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}
h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

button{
    height: 30px;
    width: 120px;
    border-radius: 6px;
    border: 0px solid;
    position: absolute;
    top: 400px;
    left: 70px;;
}
button a{
    text-decoration: none;
}

